html {
    font-size: 22px;
}

body {
    padding: 0;
    margin: 0;
    background-image: radial-gradient( circle farthest-corner at 23.1% 64.6%, rgba(129, 125, 254, 1) 0%, rgba(111, 167, 254, 1) 90%);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    height: 80vh;
    width: 90vw;
    max-width: 1400px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: Helvetica, Arial;
    color: #fff
}

.card-container {
    width: 20%;
    height: 50%;
    position: relative;
    display: flex;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    perspective: 1000px;
}

.cover,
.back {
    position: absolute;
    width: 66%;
    height: 88%;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
    cursor: pointer;
}

.cover {
    transform: rotatey(0deg);
    background-image: linear-gradient( 76.6deg, rgba(239, 88, 88, 1) 11.4%, rgba(224, 165, 88, 1) 24%, rgba(225, 222, 110, 1) 38.9%, rgba(76, 224, 126, 1) 54.9%, rgba(132, 140, 238, 1) 70.2%, rgba(197, 132, 238, 1) 82.8%);
}


/* .card-container:hover .cover {
    transform: rotatey(180deg);
} */

.back {
    font-size: .8rem;
    transform: rotatey(-180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


/* .card-container:hover .back {
    transform: rotatey(0deg);
} */

.pumpBtn {
    height: 10vh;
    min-width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pump {
    font-size: 0.7rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: Helvetica, Arial;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 1px 0px rgba(4, 161, 255, 1);
    background-image: radial-gradient( circle 800px at 48.9% -25.3%, rgba(84, 214, 247, 0.98) 0%, rgba(247, 246, 246, 1.01) 98.5%);
}

.pump:hover {
    background: rgba(4, 161, 255, 1);
    color: rgba(128, 128, 128, 1);
}

@keyframes shadowWaveOrange {
    0% {
        box-shadow: 0 0 0.6rem .2rem rgba(255, 129, 0, 0.99);
    }
    50% {
        box-shadow: 0 0 0.6rem .5rem rgba(255, 129, 0, 0.99);
    }
    100% {
        box-shadow: 0 0 0.6rem .2rem rgba(255, 129, 0, 0.99);
    }
}

@keyframes shadowWaveRed {
    0% {
        box-shadow: 0 0 0.6rem .2rem red;
    }
    50% {
        box-shadow: 0 0 0.6rem .5rem red;
    }
    100% {
        box-shadow: 0 0 0.6rem .2rem red;
    }
}

@media screen and (max-width:768px) {
    .box {
        width: 80vw;
        height: 90vh;
    }
    .card-container {
        width: 33%;
        height: 23%;
    }
    .cover,
    .back {
        width: 80%;
        height: 100%;
    }
    .pumpBtn {
        height: 5vh;
    }
}