html {
    font-size: 22px;
}

body {
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    position: relative;
    /* display: flex; */
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hamburger-container {
    position: fixed;
    height: 1.5rem;
    width: 100vw;
    background: rgb(19, 113, 100);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hamburger-container div {
    height: 100%;
    color: rgba(255, 255, 255, 1);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    cursor: pointer;
    user-select: none;
}

.hamburger-container div:hover {
    background-color: rgb(50, 80, 54);
}

.hamburger-container div:active {
    background-color: rgb(140, 224, 123);
}

.pump-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 23.1% 64.6%, rgba(129, 125, 254, 1) 0%, rgba(111, 167, 254, 1) 90%);
    z-index: 1;
}

.map-container {
    width: 100%;
    padding-top: 2rem;
    /* height: 100vh; */
    display: none;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( 0deg, rgba(247, 247, 247, 1) 23.8%, rgba(252, 221, 221, 1) 92%);
    z-index: 1;
}

.map-box {
    display: flex;
    /* height: 100vh; */
    width: 90vw;
    max-width: 1400px;
    flex-flow: row wrap;
}

.collect-container {
    width: 100vw;
    height: 100vh;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 109.6deg, rgba(204, 228, 247, 1) 11.2%, rgba(237, 246, 250, 1) 100.2%);
}

.collect-box {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr minmax(150px, 1fr) 1fr;
    ;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.cell-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    text-align: center;
    width: 100%;
    color: rgb(253, 180, 44);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
}

.cell-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    text-align: center;
    color: rgba(0, 0, 0, 0.98);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
}

.cell-2>span {
    font-size: 1.2rem;
}

.cell-2 .collect {
    margin-top: 1rem;
    font-size: .8rem;
    text-align: center;
}

.cell-3 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: start;
    width: 3rem;
    height: 1.3rem;
    font-size: .8rem;
    text-align: center;
    line-height: 1.3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgba(97, 188, 230, 0.349);
    background-color: rgba(48, 178, 238, 0.692);
    border-radius: 0.3rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
}

.box {
    display: flex;
    height: 80vh;
    width: 90vw;
    max-width: 1400px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: Helvetzica, Arial;
    color: #fff;
}

.card-container {
    width: 20%;
    height: 50%;
    position: relative;
    display: flex;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    perspective: 1000px;
}

.cover,
.back {
    position: absolute;
    width: 66%;
    height: 88%;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
    cursor: pointer;
}

.cover {
    transform: rotatey(0deg);
    background-image: linear-gradient( 76.6deg, rgba(239, 88, 88, 1) 11.4%, rgba(224, 165, 88, 1) 24%, rgba(225, 222, 110, 1) 38.9%, rgba(76, 224, 126, 1) 54.9%, rgba(132, 140, 238, 1) 70.2%, rgba(197, 132, 238, 1) 82.8%);
}


/* .card-container:hover .cover {
    transform: rotatey(180deg);
} */

.back {
    font-size: .8rem;
    transform: rotatey(-180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


/* .card-container:hover .back {
    transform: rotatey(0deg);
} */

.pumpBtn {
    height: 5vh;
    min-width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pump-container .money-area {
    position: absolute;
    top: 1.5rem;
    left: 0;
    font-size: .7rem;
    color: rgb(253, 180, 44);
    text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, .2);
}

.pump {
    font-size: 0.7rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: Helvetica, Arial;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 1px 0px rgba(4, 161, 255, 1);
    background-image: radial-gradient( circle 800px at 48.9% -25.3%, rgba(84, 214, 247, 0.98) 0%, rgba(247, 246, 246, 1.01) 98.5%);
}

.pump:hover {
    background: rgba(4, 161, 255, 1);
    color: rgba(128, 128, 128, 1);
}

.map-card-container {
    position: relative;
    display: flex;
    width: 20%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.map-card {
    width: 66%;
    height: 88%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    filter: grayscale(100%);
    cursor: pointer;
}

.show {
    min-width: 15rem;
    min-height: 21rem;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    display: none;
    z-index: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    display: none;
}

@keyframes shadowWaveBlue {
    0% {
        box-shadow: 0 0 .6rem .2rem rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 0 .6rem .3rem rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 .6rem .2rem rgba(255, 255, 255, 1);
    }
}

@keyframes shadowWaveOrange {
    0% {
        box-shadow: 0 0 0.6rem .2rem rgba(255, 129, 0, 0.99);
    }
    50% {
        box-shadow: 0 0 0.6rem .5rem rgba(255, 129, 0, 0.99);
    }
    100% {
        box-shadow: 0 0 0.6rem .2rem rgba(255, 129, 0, 0.99);
    }
}

@keyframes shadowWaveRed {
    0% {
        box-shadow: 0 0 0.6rem .2rem red;
    }
    50% {
        box-shadow: 0 0 0.6rem .5rem red;
    }
    100% {
        box-shadow: 0 0 0.6rem .2rem red;
    }
}

@media screen and (max-width:768px) {
    .box {
        width: 80vw;
        height: 90vh;
    }
    .card-container {
        width: 33%;
        height: 23%;
    }
    .cover,
    .back {
        width: 80%;
        height: 100%;
    }
    .pumpBtn {
        margin-top: 2rem;
    }
    .show {
        min-width: 10rem;
        min-height: 15rem;
    }
    .map-card-container {
        width: 33%;
        height: 5rem;
    }
}